
@font-face {
  font-family: 'iconfont';  /* project id 578659 */
  src: url('//at.alicdn.com/t/font_578659_xd9pqfh8lqcqsemi.eot');
  src: url('//at.alicdn.com/t/font_578659_xd9pqfh8lqcqsemi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_578659_xd9pqfh8lqcqsemi.woff') format('woff'),
  url('//at.alicdn.com/t/font_578659_xd9pqfh8lqcqsemi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_578659_xd9pqfh8lqcqsemi.svg#iconfont') format('svg');
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-10px);
	}
	60% {
		transform: translateY(-5px);
	}
}

.iconfont{
	font-family:"iconfont" !important;
	font-size:16px;font-style:normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}
 
.layout-header {
	height: 100vh;
.header-nav {
	padding: 35px 40px;
	margin: 0 0 30px 0;
	background: #404040;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 0;
	margin-bottom: 0;
	background: transparent;
	flex-flow: column;
	margin-bottom: 5rem;
  text-align: center;
  background: #222 no-repeat center center;
  background-size: cover;
  overflow: hidden;

	.nav {
		display: flex;
		align-items: center;
    justify-content: space-between;
		width: 100%;
		
		.header-nav-logo {
			cursor: pointer;
			img {
				box-sizing: border-box;
				display: block;
				height: 38px;
				padding: 1px 0 5px 0;
				width: auto;
			}
		}

		.menu-button {
			border-color: #BFC8CD;
			color: #9EABB3;
			box-sizing: border-box;
			display: inline-block;
			height: 38px;
			padding: 0 15px;
			border-style: solid;
			border-width: 1px;
			opacity: 1;
			text-align: center;
			font-size: 12px;
			text-transform: uppercase;
			line-height: 35px;
			white-space: nowrap;
			border-radius: 3px;
			transition: all 0.5s ease;
			
			.menu {
				font-size: 12px;
				font-weight: normal;
				margin-right: 6px;
			}
	
			&:hover {
				background: #fff;
				border-color: #555;
				color: #555;
			}
		}

		.home-button {
			color: #fff;
			border-color: rgba(255, 255, 255, 0.6);
			
			&:hover {
				color: #222;
				border-color: rgba(255, 255, 255, 0.6);
			}
		}
	}

	.vertical {
    display: table-cell;
		vertical-align: middle;
		
		.page-title {
			margin: 10px 0 10px 0;
			font-size: 4rem;
			letter-spacing: -1px;
			font-weight: 700;
			font-family: inherit;
			color: #fff;
		}
		
		.page-description {
				margin: 0;
				font-size: 1.8rem;
				line-height: 1.5em;
				font-weight: 400;
				letter-spacing: 0.01rem;
				color: rgba(255,255,255,0.8);
		}
	}

	.scroll-down {
    display: block;
    position: absolute;
    z-index: 100;
    bottom: 45px;
    left: 50%;
    margin-left: -16px;
    width: 34px;
    height: 34px;
    font-size: 34px;
    text-align: center;
    text-decoration: none;
    color: rgba(255,255,255,0.7);
		animation: bounce 4s 2s infinite;

		&:hover {
			color: #fff;
			animation: none;
		}
	}

	.user-actions {
		.nav-item {
			padding: 0 12px;
			display: inline-block;
			color: #d0c3c3;
		}

		.nav-item + .nav-item {
			border-left: 1px solid;
		}
	}
}
}
